# librosa==0.8.0
# numpy==1.19.2
# # matplotlib==2.2.4
# # matplotlib
# spafe==0.1.2
# resemblyzer==0.1.1.dev0
# flask==1.1.1

librosa
numpy
# matplotlib==2.2.4
# matplotlib
spafe==0.1.2
resemblyzer==0.1.1.dev0
flask==1.1.1